<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人脸识别信息</title>
    <style>
        body{
            background-image: url("../static/唯娱文化.jpg");
            background-size: cover;
        }
        p{
            color: white;
            font-size: 30px;
        }
        .center{
            text-align: center; /*让div内部文字居中*/
	        border-radius: 20px;
	        width: 300px;
	        height: 350px;
	        margin: auto;
	        position: absolute;
	        top: 0;
	        left: 0;
	        right: 0;
	        bottom: 0;
        }
    </style>
</head>
<body>
    <div class="center">
        <p>{{xinxi}}</p>
        <br>
        <p>{{shijian}}</p>
    </div>
</body>
</html>